body{
    background-color: #eeeeee;
}
a{
    color: black;
}
.content{
    padding: .20rem;
}
.content .msg{
    width: 100%;
    background-color: #fff;
}
.content .msg ul li{
    display: inline-block;
    height: .85rem;
    border-bottom:.03rem solid #eeeeee;
}
.content .msg ul li a{
    font: .30rem "微软雅黑", Arial, sans-serif;
    color: #303030;
    line-height: .85rem;
    padding:0 .45rem;
    border-right:.03rem solid #eeeeee;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.content .msg ul li:first-of-type a{
    color:#ff5b00;

}
.content .msg ul li:nth-child(1) a,.msg ul li:nth-child(2) a{
    padding:0 .1rem;
    border:none;
}
.content .msg ul li:nth-child(2) a{
    border-left:.03rem solid #eeeeee;
    border-right:.03rem solid #eeeeee;
}
.content .msg .dot{
    width: 100%;
}
.content .msg .dot ul{
    text-align: center;
    padding: .10rem;
}
.content .msg .dot li{
    display: inline-block;
    width: .17rem;
    height: .17rem;
    border: .03rem solid #eeeeee;
    border-radius: 50%;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.content .msg .dot li:first-of-type{
    background-color: #fe9002;
}
.content .msg .dot li:hover{
    background-color: #fe9002;
}

/*历史纪录*/
.history ul li{
    width: 100%;
    height: .98rem;
    background-color: #fff;
    box-sizing: border-box;
    border-bottom: .03rem solid #eeeeee;
}
.history ul li a{
    position: relative;
    display: block;
    font: .30rem "微软雅黑", Arial, sans-serif;
    padding-left:1.02rem;
    line-height: .98rem;
}
.history ul li a::before{
    content: '';
    display: block;
    position: absolute;
    width: .39rem;
    height: .39rem;
    background: url("../images/cloth.png") no-repeat;
    left: .30rem;
    top: .30rem;
}
/*清除历史记录*/
.history ul li:last-of-type a{
    color: #a2a1a1;
    text-align: center;
}
.history ul li:last-of-type a::before{
    content: '';
    display: block;
    position: absolute;
    width: .39rem;
    height: .39rem;
    background: url("../images/clear.png") no-repeat;
    left: 40%;
    top: 36%;
}